*{margin:0;
    padding:0;
    box-sizing:border-box;
}
html body{font-size:12px;
    font-family:"Microsoft YaHei";
    color:#333;
}

.container{float:left;
    width:100%;
    background-image:url(../images/background.jpg);
}

.wrapper{width:1000px;
    margin:0 auto;
    overflow:hidden;
}

.header{float:left;
    width:1000px;
}
.header img{float:left;
    width:1000px;
}

.nav{float:left;
    width:1000px;
    height:40px;
    line-height:40px;
    font-size:14px;
    font-weight:bold;
    background-color:#cd9a2b;
}
.nav a{margin:0 145px 0 20px;
    color:#fff;
}
.nav a:nth-last-child(1){margin-right:0;
}
.nav a:hover {
    background-color: #cd512b;
}

.rightnav{
    background: #cd9a2b;
    color: #ffffff;
    overflow: hidden;
    z-index: 9999;
    position: fixed;
    padding: 5px;
    text-align: center;
    width: 175px;
    height: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    right: 100px;
    top: 10%;
}
.rightnav ul{
list-style-type:none;
    margin:0;
    padding:0; 
    }
.rightnav a{
    display:block;
    color:white;
    text-align:center;
    padding:4px;
    text-decoration:none;
}
a:hover,a:active{
    background-color:#cd512b;  
}

.main{float:left;
    width:1000px;
    padding-bottom:20px;
    background-color:#fff;
}

.focus{float:left;
    width:960px;
    height:380px;
    margin:20px 0 15px 20px;
}
.focus img{float:left;
    width:960px;
    height:380px;
}

.text{float:left;
    width:1000px;
    padding-bottom:10px;
}
.text h1{float:left;
    width:1000px;
    height:30px;
    line-height:30px;
    margin-top:20px;
    font-size:16px;
    font-weight:bold;
    color:#cd9a2b;
    text-align:center;
}
.text h2{float:left;
    width:1000px;
    height:30px;
    line-height:30px;
    margin-top:20px;
    font-size:16px;
    font-weight:bold;
    color:#cd9a2b;
    text-align:center;
}
.text ul{width:auto;
    height:50px;
    line-height:50px;
    padding:10px 25px;
    list-style:none;
}
.text li{
    float:left;
    margin-right:auto;
    width: 100px;
    height:30px;
    line-height:30px;
    font-size:16px;
    font-weight:bold;
    color:#cd9a2b;
    text-align:center;
}
.text p{float:left;
    width:900px;
    line-height:27px;
    margin-left:50px;
    font-size:13px;
    text-indent:25px;
}
.text img{float:left;
    width:900px;
    margin:20px 0 10px 50px;
}

.person{float:left;
    width:1000px;
    padding-bottom:10px;
}
.person h1{float:left;
    width:1000px;
    height:30px;
    line-height:30px;
    margin-top:20px;
    font-size:16px;
    color:#cd9a2b;
    text-align:center;
}
.person article{float:left;
    width:470px;
    margin:20px 0 0 20px;
}
.person article img{float:left;
    width:120px;
    height:170px;
    margin:18px 0 0 20px;
    border:1px solid #f1f1f1;
}
.person article h2{float:left;
    width:290px;
    height:25px;
    line-height:25px;
    margin:15px 0 0 20px;
}
.person article p{float:left;
    width:290px;
    line-height:25px;
    margin-left:20px;
}

.highlight{float:left;
    width:1000px;
    padding-bottom:10px;
}
.highlight h1{float:left;
    width:1000px;
    height:30px;
    line-height:30px;
    margin-top:20px;
    font-size:16px;
    color:#cd9a2b;
    text-align:center;
}
.highlight video{margin:20px 0 10px 50px;
    width: 900px;
    height: 700px;
}
.highlight p{float:left;
    width:900px;
    line-height:27px;
    margin-left:50px;
    font-size:13px;
    text-indent:25px;
}
.highlight h2{float:left;
    width:1000px;
    height:30px;
    line-height:30px;
    margin-top:20px;
    font-size:16px;
    color:#cd9a2b;
    text-align:center;
}

.about{float:left;
    width:1000px;
    padding-bottom:10px;
}
.about h1{float:left;
    width:1000px;
    height:30px;
    line-height:30px;
    margin-top:20px;
    font-size:16px;
    color:#cd9a2b;
    text-align:center;
}
.about table{
    width: 70%;
    height: 100px;
    font-size:13px;
    line-height:30px;
}
.about table tr td:first-child,table tr td:first-child{width:120px;}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: #cd9a2b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
input[type=submit]:hover {
    background-color: #cd512b;
}

#advice {
    background-color: #cd9a2b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
#advice:hover {
    background-color: #cd512b;
}

table{ margin-right: auto;margin-left: auto;
}

.footer{float:left;
    width:1000px;
    height:80px;
    line-height:80px;
    color:#fff;
    text-align:center;
    background-color:#cd9a2b;
}

a.pos_fixed
{
	position:fixed;
	bottom: 50px;
    right: 0%;
    text-align: center;
    width: 125px;
    line-height:40px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size:15px;font-weight:bold;
    margin:0 auto;color:#fff;
    background-color:#cd9a2b;
}
a.pos_fixed:hover{
    background-color:#cd512b;
}

.add{
    background: #cd6c2b;
    color: #ffffff;
    overflow: hidden;
    z-index: 9999;
    position: fixed;
    padding: 5px;
    text-align: center;
    width: 200px;
    height: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    left: 100px;
    top: 10%;
}

.list table{
    border-spacing: 0;
}

.list td{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #cd9a2b;
    font-size: 15px;
}

.change {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.change div{
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 30px 15px;
    background: #cd9a2b;
    border-radius: 30px;
}
.discussion textarea{
    margin-left:15%;
    resize:vertical;
    max-height: 100px;
    min-height: auto;
    width:200px;
}

.discussion h3{
    margin-left:10%;
    float:left;
    width:1000px;
    height:30px;
    line-height:30px;
    margin-top:20px;
    font-size:16px;
    color:#cd9a2b;
}
.discussion hr{
    float:left;
    border: 1px solid;
    border-color:#cd9a2b;
    width: 100%;
    margin-bottom: 20px;
}

#box{ 
    float:left;
 } 
/* #fabu{ 
 }  */
#pinlun{ width: 600px; 
        background-color: aqua; } 
.discussion textarea{ 
    width: 200px; 
    height:100px; 
    border: none; 
    font-size: 20px; } 
#btn_1{ 
    width: 60px; 
    height: 30px; 
    background-color: rgb(237, 205, 100); 
    outline: none; } 
::placeholder{ font-size: 24px; } 
#btn_2{ 
    width: 30px; 
    height: 30px; 
    background-color: #cd9a2b; 
    border-radius: 4px; } 
.discussion p{text-align: right;} 
#neirong{ 
    background-color: rgb(255, 243, 80); 
    border: 1px solid burlywood; }
    
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "思源宋体 CN VF Regular";src: url("//at.alicdn.com/wf/webfont/7zsrHxNXgPxv/zstjBvD-dyBS3NRjuax_r.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/7zsrHxNXgPxv/p2Cd6zuOsc7XnrtVb_IOT.woff") format("woff");
    font-display: swap;
  }

  
  .web-font{
      font-family:"webfont" !important;
      font-size:12px;font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
  }

  .black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border: 16px solid #cd9a2b;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

.white_content_small {
    display: none;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 50%;
    border: 16px solid #cd9a2b;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}
#MyDiv p{
    float:left;
    width:65%;
    line-height:30px;
    margin-left:20px;
    font-size:18px;
}
#MyDiv img{
    float:left;
    width:25%;
    height:80%;
    margin:20px 0 0 20px;
    border:1px solid #f1f1f1;
}
#MyDiv h2{
    float:left;
    width:65%;
    height:25px;
    line-height:25px;
    margin:15px 0 0 20px;
}